body{
     text-align: center;
     background: linear-gradient(
          rgb(2, 76, 173),
          rgb(0, 76, 255),
          rgb(217, 255, 0),
          rgb(238, 255, 0)
     );
     min-height: 100vh;
     font-family: tahoma;
     font-family: 'Caveat', cursive;
}
h1{
     text-align: center;
     color: white;
     font-size: 3rem;
     margin-bottom: 120px;
}
.conteiner{
     max-width: 540px;
     margin: 0 auto;
}
.audio{
     height: 40px;
     width: 100%;
}