.info{
    color: rgb(222, 222, 222);
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
}
.info .text{
 padding: 0 20px;
 max-width: 600px;
 font-size: 1.4rem;
}
.info img{
    height: 250px;
    border: 2px solid black;
}
.info .text h2{
    color: yellow;
}
.card_button{
    color: black !important;
}